<p>
  Examples that work and will have an influence.
</p>

<table>
  <tr>
    <td>Total Costs</td>
    <td><%= Current.gql.query("present:Q(dashboard_total_costs)") %></td>
    <td><%= Current.gql.query("future:Q(dashboard_total_costs)") %></td>
  </tr>
  <tr>
    <td>Cost per MJ Natural gas</td>
    <td><%= Current.gql.query("present:V(CARRIER(natural_gas);cost_per_mj)") %></td>
    <td><%= Current.gql.query("future:V(CARRIER(natural_gas);cost_per_mj)") %></td>
  </tr>    
  <tr>
    <td>Cost per MJ Gasoline (has default value)</td>
    <td><%= Current.gql.query("present:V(CARRIER(gasoline);cost_per_mj)") %></td>
    <td><%= Current.gql.query("future:V(CARRIER(gasoline);cost_per_mj)") %></td>
  </tr>    
</table>
